
/* Ensure the body takes the full height and width of the viewport */
body, html {
    height: 100%;
     width: 100%;
     justify-content: center; /* Centers content horizontally */
 }
 .rails_logo a{
     margin-left: 14px;
 }
 .rails_logo {
     height: 7rem;
     width: 7rem;
     background-color: rgb(213, 21, 21);
     border-radius: 50%;
     
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     overflow: hidden; 
     /*margin-left: 46%;*/
     margin-left: auto;
     margin-right: auto;
     
     
     
  }
     .rails_logo:hover{
       background-color: rgb(20, 18, 25);
     }
     .logo_img{
         height: 80%;
         width: 82%;
         object-fit: contain;
         margin-bottom: 9px;
     }
