@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Public+Sans&display=swap');
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.pageWrapper {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box; 
}
.top-banner {
    background-color: #efe5e5; /* Dark grey background */
    color: #000; /* Black text */
    text-align: center;
    padding: 12px 0;
    width:100% ;
    font-size: 1.1em;
    font-weight: 800; /* Bold text */
    transition: color 0.3s; /* Smooth transition for text color on hover */
}

.rails_logo {
    height: 7rem;
    width: 7rem;
    background-color: rgb(213, 21, 21);
    border-radius: 50%;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; 
    /*margin-left: 46%;*/
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;   
 }
    .rails_logo:hover{
      background-color: rgb(20, 18, 25);
    }
    .logo_img{
        height: 80%;
        width: 82%;
        object-fit: contain;
        margin-bottom: 9px;
    }
    .navbar {
        background-color: none; /* Remove background color */
        color: #000; /* Dark black text color */
        font-size: 1.1em; /* Increase font size */
        margin-top: 5px; /* Add top margin */
        position: relative; /* Ensure navbar is relative */
        padding: 15px 0; /* Adjust padding */
        text-align: center; /* Center navbar content */
    }
    
    .navbar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline-flex; /* Use inline-flex to keep items in line */
        justify-content: center;
        align-items: center; /* Center vertically */
    }
    
    .navbar ul li {
        margin: 0 15px;
    }
    
    .navbar ul li a {
        color: #000; /* Black text color */
        text-decoration: none;
        font-size: 1.2em; /* Increase font size */
        font-weight: bold; /* Make font bold */
        position: relative; /* Ensure relative positioning for pseudo-element */
        transition: color 0.3s; /* Smooth color transition */
    }
    
    .navbar ul li a:hover {
        color: #D2232A; /* Red text color on hover */
        
        
    }
    
    .navbar ul li a:hover::after {
        content: ''; /* Add content to pseudo-element */
        position: absolute; /* Position absolutely relative to parent */
        bottom: -5px; /* Adjust positioning */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        width: 100%; /* Full width */
        height: 5px; /* Height of rectangle */
        background-color: #f4f4f4; /* Grey background */
        border-radius: 10px; /* Rounded corners */
    }
    
    
    
    .navbar2{
        display: none;
    }
    
    .toggle-button {
        display: none; /* Hide by default */
        font-size: 1.5rem;
        cursor: pointer;
        background-color: #efe5e5;
    }
    .logo-toggle{
        display: none;
    }
    
    .navbar2 ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .navbar2 ul li {
        margin: 0;
    }
    
    .navbar2 ul li a {
        display: block;
        padding: 0.7rem;
        text-decoration: none;
        color: #000;
        font-size: larger;
        font-weight: bolder;
    }
    .heading_common1 {
        /* text-align: center;  Centers text inside the div */
         padding: 0; /* Add padding for spacing */
         margin-top: 0vmin; 
         margin-bottom: 8px;
         margin-left:center;
         margin: auto;
         width: 60rem;
       }
       .common-heading{
         color: rgb(213, 21, 21);
        
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 900;
         font-style: normal;
         font-variation-settings:
           "slnt" 0;
           font-size: 3.5rem;
           /*margin-bottom: 5px;
           margin-top: 5px;*/
           text-align: center;
           color: #D30001;
         
        
     }
     .common-subheading{
         font-family: "Inter", sans-serif;
         font-optical-sizing: auto;
         font-weight: 438;
         font-style: normal;
         font-variation-settings:
           "slnt" 0;
           font-size: 30px;
           margin-top:0;
           margin-bottom: 5px;
         
     }
     .version {
        color: #222121;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 1.3em; /* Increase font size */
        background-color: rgb(241, 231, 229) ; /* Grey background */
        display: inline-block; /* Ensure block-like behavior */
        padding: 10px 10px; /* Padding for better readability */
        transition: background-color 0.3s; /* Smooth transition for background color */
        border-radius: 5px;
        border: none;
        width:60%;
        margin-left:20%;
        
    }
    
    .version:hover {
        background-color: #ccc; /* Darker grey background on hover */
        color: #D2232A; /* Red text color on hover */
    }
    .video-section {
        background-color: #f4f4f4;
        padding: 50px 0;
        text-align: center; /* Center video horizontally */
    }
    
    
    video {
        width: 100%; /* Make the video fill its container */
        height: auto; /* Maintain aspect ratio */
        max-width: 1000px; /* Limit maximum width of the video */
    }
    .company-logos {
        display: grid;
        gap: 20px; /* Space between buttons */
        padding: 20px;
        grid-template-columns: repeat(4, 1fr);
        width: 70%;
        margin-left:15%;
      }
      .button-large-type1{
       border-radius: 5px;
       background-color:rgb(241, 231, 229) ;
       border: none;
      }
      
   
    @media (max-width: 800px) {
        .pageWrapper {
            box-sizing: border-box;
        }
        .navbar{
            display: none;
        }
        .top-banner p{
            width: 80%;
            margin: auto;
            font-size: smaller;
        }
        .navbar{
            display: none;
        }
        
        .toggle-button {
            display: block; /* Show toggle button on mobile */
            border: none;
        }
        .logo-toggle{
            display: flow;
        }
        .navbar2.active {
            display: block; /* Show menu when active */
            text-align: center;
            text-decoration: none;
            list-style: none;
        }
        .heading_common1{
            width: 100%;
            font-size:0.5rem;
            text-align:justify;
            width: 80%;
        }
        .common-heading{
            font-size: 5em;
        }
        .common-subheading{
            font-size: 1.2rem;
                }
        .version{
            width:80%;
            margin-left: 10%;
        }
        video{
            width:80%;
        }
        .company-logos {
            display: grid;
            gap: 10px; /* Space between buttons */
            padding: 10px;
            grid-template-columns: repeat(3, 1fr);
            width: 80%;
            margin-left: 10%;
          }
          .button-large-type1{
            width: 110px;
            height: 60px;
            border-radius: 5px;
            margin:10px;
            background-color:rgb(241, 231, 229) ;
            border: none;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 0; /* Ensure no padding */
            background-color: hsl(345, 11%, 86%);
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            
            }
            .button-large-type1 img{
            width:100%;
            height: auto;
            object-fit: cover;
            display: block;
            
            }
            .button-large-type1:hover{
            transform: translateY(-2px);
            outline: 3px solid red;
            background-color: #ffffff;    
            } 
    }
    @media (max-width: 428px) {
        
        .company-logos {
            display: grid;
            gap: 10px; /* Space between buttons */
            padding: 10px;
            grid-template-columns: repeat(2, 1fr);
          }
          .button-large-type1{
            width: 110px;
            height: 60px;
            border-radius: 5px;
            margin:10px;
            background-color:rgb(241, 231, 229) ;
            border: none;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 0; /* Ensure no padding */
            background-color: hsl(345, 11%, 86%);
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            
            }
            .button-large-type1 img{
            width:100%;
            height: auto;
            object-fit: cover;
            display: block;
            
            }
            .button-large-type1:hover{
            transform: translateY(-2px);
            outline: 3px solid red;
            background-color: #ffffff;    
            } 
    }
    
   
    