body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.top-banner {
    background-color: #efe5e5; /* Dark grey background */
    color: #000; /* Black text */
    text-align: center;
    padding: 26px 0;
    font-size: 25px;
    font-weight: 800; /* Bold text */
    transition: color 0.3s; /* Smooth transition for text color on hover */
}

.top-banner:hover {
    color: #D2232A; /* Red text color on hover */
}

.navbar {
    background-color: none; /* Remove background color */
    color: #000; /* Dark black text color */
    font-size: 25px; /* Increase font size */
    margin-top: 100px; /* Add top margin */
    position: relative; /* Ensure navbar is relative */
    padding: 15px 0; /* Adjust padding */
    text-align: center; /* Center navbar content */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex; /* Use inline-flex to keep items in line */
    justify-content: center;
    align-items: center; /* Center vertically */
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #000; /* Black text color */
    text-decoration: none;
    font-size: 1.2em; /* Increase font size */
    font-weight: bold; /* Make font bold */
    position: relative; /* Ensure relative positioning for pseudo-element */
    transition: color 0.3s; /* Smooth color transition */
}

.navbar ul li a:hover {
    color: #D2232A; /* Red text color on hover */
}

.navbar ul li a:hover::after {
    content: ''; /* Add content to pseudo-element */
    position: absolute; /* Position absolutely relative to parent */
    bottom: -5px; /* Adjust positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 100%; /* Full width */
    height: 5px; /* Height of rectangle */
    background-color: #f4f4f4; /* Grey background */
    border-radius: 10px; /* Rounded corners */
}

.logo {
    height: 180px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    margin-top: -20px; /* Adjust margin-top to align vertically */
    transition: filter 0.3s; /* Smooth transition for filter effects */
}

.logo:hover {
    filter: grayscale(100%); /* Convert logo to black and white on hover */
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 5.2em;
    font-weight: 800; /* Increase font weight for extra bold */
    text-align: center;
    max-width: 80%; /* Limit width to 80% of the viewport width */
    word-wrap: break-word; /* Wrap text onto multiple lines */
    color: #d7040b;
    margin-left: 260px; 
    margin-right: 260px; /* Adjust left and right margins */
    margin-top: 0; /* Reset top margin */
}

p {
    margin-left: 260px; 
    margin-right: 200px;
}

.version {
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 2.1em; /* Increase font size */
    background-color: #f4f4f4; /* Grey background */
    display: inline-block; /* Ensure block-like behavior */
    padding: 5px 10px; /* Padding for better readability */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.version:hover {
    background-color: #ccc; /* Darker grey background on hover */
    color: #D2232A; /* Red text color on hover */
}

.video-section {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center; /* Center video horizontally */
}

video {
    width: 100%; /* Make the video fill its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 1000px; /* Limit maximum width of the video */
}

.heading-section {
    padding: 40px 20px;
    text-align: center;
}

.heading-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #D2232A; /* Red color for headings */
}

.heading-section p {
    font-size: 1.2em;
    color: #333;
}

.heading-section p a {
    color: #000; /* Dark black color */
    font-weight: bold; /* Bold font */
    text-decoration: underline; /* Add underline */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.heading-section p a:hover {
    color: #D2232A; /* Red color on hover */
}

.styled-link {
    color: #000; /* Dark black color */
    font-weight: 800; /* Bold font */
    text-decoration: underline; /* Add underline */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.styled-link:hover {
    color: #D2232A; /* Red color on hover */
}

.grey-background {
    background-color: #e0d3d3;
    padding-top: 6%;
    padding-bottom: 8%;
}

.white-box {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.121); /* Grey shadow effect */
    padding: 30px; /* General padding for top, bottom, left, right */
    border-radius: 8px;
    max-width: 1200px; /* Increase max-width for a more rectangular shape */
    margin: -100px auto 60px auto; /* Top, auto (left/right to center), and bottom margin */
    text-align: left;
    position: relative;
    z-index: 1;
}

.white-box h1,
.white-box p {
    margin-left: 100px;
    margin-right: 50px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-wrapper {
    margin: 10px; /* Adjust spacing between images */
    background-color: #f4f4f4; /* Grey background color */
    padding: 10px; /* Padding inside each wrapper */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.image-wrapper img {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
}

.image-wrapper p {
    font-size: 1.2em; /* Adjust font size of the text */
    color: #333; /* Text color */
    margin-top: 10px; /* Add space between image and text */
}

.white-box2 {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.121); /* Grey shadow effect */
    padding: 30px; /* General padding for top, bottom, left, right */
    border-radius: 8px;
    max-width: 1200px; /* Increase max-width for a more rectangular shape */
    margin: 40px auto 60px auto; /* Top and bottom margin adjusted to create space */
    text-align: left;
    position: relative;
    z-index: 1;
}

.white-box2 h1,
.white-box2 p {
    margin-left: 100px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D2232A;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

.company-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px 0px;
    background-color: #f9f9f9;
    margin-left: 30%;
    margin-right: 30%;

}

.company-logos img {
    max-width: 150px;
    height: auto;
    transition: transform 0.3s;
}

.company-logos img:hover {
    transform: scale(1.1);
    outline: 3px solid red; /* Red outline on hover */
}



.code-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.code-container {
    background-color: rgb(230, 217, 217);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.code-block {
    background-color: transparent;
    color: #f8f8f8;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.code-block img {
    max-width: 100%; /* Changed from 200% to 100% to fit within the container */
    height: auto;
}

.code-description {
    padding: 15px;
}

.code-description h3 {
    color: #b40b06;
    margin-top: 0;
    font-size: 2em; /* Corrected from 'font: size 80px' to 'font-size: 2em' */
}

.code-description p {
    color: #555;
    font-size: 1.2em; /* Adjust font size as needed */
}


.cards {
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    position: relative
    
}

.cards .container {
    max-width: 1500px
}

.cards__container {
    display: grid;
    gap: 30px 0;
    margin-left: 900px;
    margin: 3px 30px;
    margin-left: 90%;
    z-index: 1
}

.cards .card {
    position: relative
}

.cards .card a,.cards .card__body {
    width: 100%
}

.cards .card a {
    display: block
}

.cards .card a:hover .card__label h6 {
    background: #D30001
}

.cards .card a:hover .card__body {
    box-shadow: 0 3px 15px 2px rgba(38,27,35,0.05),0 1px 1px rgba(38,27,35,0.02),0 0 0 3px #D30001;
    transform: translateY(-3px)
}

.cards .card__label {
    position: absolute;
    text-align: center;
    top: -49px;
    width: 100%;
    z-index: 1
}

.cards .card__label h6 {
    background: #D30001;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 21px;
    padding: 1px 23px 3px 13px;
    position: relative;
    text-transform: uppercase;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.cards .card__label h6:after {
    background: url(../images/icon-card.svg) center center no-repeat;
    content: '';
    filter: brightness(0) invert(1);
    height: 9px;
    position: absolute;
    right: 11px;
    top: 9px;
    width: 6px
}

.cards .card__body {
    align-items: center;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 3px 15px 2px rgba(38,27,35,0.05),0 1px 1px rgba(38,27,35,0.02),0 0 0 3px rgba(38,27,35,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1),box-shadow 0.25s cubic-bezier(0.33, 1, 0.68, 1),transform 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.cards .card__headline,.cards .card__content {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center
}

.cards .card__headline {
    padding-bottom: 6px;
    padding-top: 30px
}

.cards .card__headline h3 {
    clear: both;
    color: #261B23;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 31px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

.cards .card__content {
    padding-bottom: 35px
}

.cards .card__content p {
    clear: both;
    color: #5A5153;
    font-size: 20px;
    line-height: 23px;
    margin-left: auto;
    margin-right: auto;
    transition: color 0.25s cubic-bezier(0.33, 1, 0.68, 1)
}

@media (min-width: 768px) {
    .cards__container {
        grid-template-columns:repeat(2, 1fr);
        gap: 40px
    }

    .cards .card {
        height: 40vw;
        max-height: 300px
        
    }

    .cards .card a,.cards .card__body {
        height: 100%;
        position: absolute
    }
}

@media (min-width: 1024px) {
    .cards__container {
        grid-template-columns:repeat(3, 1fr);
        margin-left: 60px;
        margin-right: 60px
    }
}

/* Base styles */

/* Base styles */
.text {
    background-color: #fffbfb; /* Example background color */
    padding: 30px 0; /* Adjust padding as needed */
}

.text__body {
    display: flex;
    justify-content: center;
    margin-left: 20px; /* Adjust margin as needed */
}

.text__content {
    max-width: 800px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center align */
    text-align: center; /* Center align text */
}

.text__content p {
    margin-bottom: 15px; /* Adjust spacing between paragraphs */
    font-size: 1.6em; /* Adjust font size */
    line-height: 1.6; /* Adjust line height for better readability */
}

.text__content strong {
    font-weight: bold;
}

.text__content a {
    color: #ff0000; /* Red link color */
    text-decoration: none;
    font-size: 1.2em; /* Keep font size consistent */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth color and underline transition */
}

.text__content a:hover {
    color: #000000; /* Black color on hover */
    text-decoration: underline; /* Underline on hover */
}



/* Footer styles */
footer {
    position: relative;
    background: url('images/Ruby_on_Rails-Logo.wine.svg') center top no-repeat;
    background-size: cover;
    padding: 100px 0; /* Increase padding to move content down */
  }
  
  .curve-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .logo-container {
    margin-top: 10px; /* Add margin to move content further down */
  }
  
  ul {
    margin-top: 10px; /* Add margin to move content further down */
  }
  


footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center align list items */
}

footer ul li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between list items */
}

footer ul li a {
    color: #514b4b; /* Default font color */
    font-size: 2.2em; /* Increase font size */
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for color and underline */
}

footer ul li a:hover {
    color: #000; /* Darker font color on hover */
    text-decoration: underline; /* Underline on hover */
}

.logo-container {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    align-items: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.footer-logo {
    height: 60px; /* Adjust logo size */
    transition: filter 0.3s ease; /* Smooth transition for color change */
}

.footer-logo:hover {
    filter: brightness(01); /* Turn the logo black on hover */
}

