@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
  box-sizing: border-box;
}
.svg-container {
    position: relative;
    width: 100%;
    
    height: 1500px; /* Set your desired height */
    background-color: #F1E7E5;
}

.card-container{
    position: absolute;
    top: 90vmin;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px 10px rgba(99, 98, 98, 0.1);
    width: 90%;
    max-width: 70%;
    z-index: 1;
    border-radius: 10px;
    margin-top: 20%;
    
}
 .heading{
    color: rgb(213, 21, 21);
   
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 40px;
      margin-bottom:10px;
      text-align: center;
}

 .content{
    text-align: center;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 21px;
      padding: 20px; 
  margin-left: 18vmin;
  margin-right: 5vmin;
  max-width: 90%;
  color:rgba(99, 97, 97, 0.956) ;
}
.subcard-container{
   padding: 0px;
}
.last-container{
margin-top: 1200px;
}
.bold-text{
  color: black;
  font-weight: 800;
}
.card-container a{
  color:rgb(213, 21, 21);
  font-weight: 800;
}
.card-container a:hover{
  color: black;
}
.short-divider{
  height: 8px;
  background: rgb(239, 239, 239);
  border: none;
  margin-left: 40vmin;
  margin-right: 40vmin;
}
.last-container{
  text-align: center;
}
.last-container button{
  width: 350px;
  height:60px;
  border-radius: 50px;
  background-color: rgb(213, 21, 21);
  border:none;
  color:white;
  font-size: 25px;
  font-weight:bold;
  
}
.last-container button:hover{
  background-color: black;
}
.core-team-member{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
}
.circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.outer-circle {
  position: relative;
  width: 90px; /* Adjust the size as needed */
  height: 90px; /* Adjust the size as needed */
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 80px; /* Adjust the size as needed */
  height: 80px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.outer-circle:hover {
  border-color: red;
}
.member-info{
  text-align: center;
  text-align: center;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
    "slnt" 0;
    font-style: normal;
    line-height: 0.5;
   }
.member-name{
  color:rgb(213, 21, 21);
  font-size: 20px;
  font-weight: 900;
 
}
.country{
  font-weight: 600;
}
.year{
  font-size: 15px;
  font-weight: 400;
  
}
